[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
flask-jwt-extended = "*"
marshmallow = "*"
schema = "*"
sqlalchemy = "*"
boto3 = "*"
flask-json = "*"
gunicorn = "*"
psycopg2 = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
